:root {
  --font-family: 'Nunito', sans-serif;
  --text-size: 1.1rem;
  --text-color: #313746;
  --main-color: #47c4dd;
  --main-bg-color: #fff;
  --app-bg-color: #F2F2F2;
  --border-radius: 12px;
  --icon-color: #4E4E4E;
}

body.sunny-color {
  --app-bg-color: linear-gradient(180deg, rgba(69,152,210,1) 0%, rgba(175,208,227,1) 100%);
  --main-bg-color: rgba(255, 255, 255, 0.9);
}

body.night-color {
  --app-bg-color: #0F1037;
  --main-bg-color: #282C4B;
  --text-color: #fff;
  --icon-color: #fff;
}

body.cloudy-color {
  --app-bg-color: #aaa;
  --main-bg-color: rgba(255, 255, 255, 0.7);
  /* --text-color: #fff;
  --icon-color: #fff; */
}

body {
  background: var(--app-bg-color);
  font-family: var(--font-family);
  font-size: var(--text-size);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

p, a, label, input, button, div, small, textarea, input, select {
  font-family: var(--font-family);
  color: var(--text-color);
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.App {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 12px 0;
}

.d-none {
  display: none;
}

.search-input-container {
  position: relative;
  margin-top: 20px;
}

.search-input-container input {
  background-color: var(--main-bg-color);
  width: 100%;
  border-radius: var(--border-radius);
  border: none;
  padding: 15px 15px 15px 50px;
  font-size: 1rem;
  border: 1px solid transparent;
}

.search-input-container input:focus {
  outline: none;
  border: 1px solid var(--main-color);
}

.night-color .search-input-container input:focus {
  border: 1px solid #004885;
}

.search-input-container .search-icon {
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: var(--icon-color);
  pointer-events: none;
}

.night-color .city:hover {
  background-color: #004885;
}

.autocomplete-container {
  position: relative;
}

.autocomplete {
  margin-top: 3px;
  height: 240px;
  overflow: auto;
  position: absolute;
  width: 100%;
  border-radius: var(--border-radius);
}

.city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
  background-color: var(--main-bg-color);
  cursor: pointer;
}

.city:hover {
  background-color: var(--main-color);
  color: #000;
}

.city:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.city:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.city .left {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.city .left .location-icon {
  color: var(--icon-color);
  margin-right: 6px;
}

.city .right {
  margin: 0;
}

.loading-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.loading {
  background-color: #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid rgb(81, 81, 81);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.current-weather,
.hourly,
.daily {
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius);
  padding: 20px 20px;
  margin-bottom: 10px;
}

.current-weather {
  margin-top: 10px;
}

.current-weather .top {
  border-bottom: 1px solid rgb(186, 186, 186);
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.current-weather .top .right img {
  max-width: 100%;
}

.current-weather .temp {
  font-size: 6rem;
  margin: 20px 0 0;
  margin-top: 0;
}

.current-weather .top .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}

.current-weather .top .right p {
  margin: -20px 0 0;
}

.current-weather .bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.current-weather .bottom .left {
  margin-right: 8px;
}

.current-weather .bottom p {
  margin-top: 0;
}

.current-weather .bottom .left p:last-child,
.current-weather .bottom .right p:last-child {
  margin-bottom: 0;
}

.hourly .hourly-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.hourly > p {
  margin-top: 0;
}

.hourly img {
  width: 50px;
}

.hourly .hour {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hourly .hour > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourly .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0;
}

.hourly .date .separator {
  width: 1px;
  background-color: rgb(186, 186, 186);
  height: 120px;
}

.hourly .precipitation-prob {
  color: var(--main-color);
}

.hourly .hour > div p {
  margin: 0 0 5px;
}

.hourly .date > p {
  margin: 0 0 5px;
}

.hourly .hour .temp {
  margin-top: 0;
}

.daily > p {
  margin-top: 0;
}

.daily .day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.daily .day {
  border-top: 1px solid rgb(186, 186, 186);
}

.daily .day:last-child {
  border-bottom: 1px solid rgb(186, 186, 186);
}

.daily .day .left {
  display: flex;
  align-items: center;
}

.daily .day .left > p {
  width: 105px;
}

.daily .day .left img {
  max-height: 50px;
}

.daily .day .img-container {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daily .img-container p {
  margin: -6px 0 0;
  color: var(--main-color);
}

footer {
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius);
  padding: 18px 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  background-color: #fff;
  padding: 15px;
  margin: 10px;
  border-radius: var(--border-radius);
}

.error p {
  margin-top: 0;
}

.error button {
  border: none;
  padding: 6px 10px;
  font-size: 1rem;
  background-color: #0095ff;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}

@media (max-width: 720px) {
  .search-input-container {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .current-weather .temp {
    font-size: 13vw;
  }

  .current-weather .top .right img {
    max-width: 70%;
  }

  .current-weather .top .right {
    margin-right: -30px;
  }
}

@media (max-width: 425px) {
  .loading {
    width: 40px;
    height: 40px;
  }

  .spinner {
    width: 24px;
    height: 24px;
    border-width: 3px;
  }

  .current-weather .feels-like {
    font-size: 1rem;
    margin-top: 5px;
  }

  .current-weather .min-max-temp {
    font-size: 0.95rem;
    white-space: nowrap;
  }

  footer p {
    margin: 0;
  }
}

@media (max-width: 387px) {
  .current-weather .bottom p {
    margin-bottom: 0;
  }
}
