:root {
  --font-family: 'Nunito', sans-serif;
  --text-size: 1.1rem;
  --text-color: #313746;
  --main-color: #EC6E4C;
  --main-bg-color: #fff;
  --border-radius: 12px;
}

body {
  background-color: #F2F2F2;
  font-family: var(--font-family);
  font-size: var(--text-size);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

p, a, label, input, button, div, small, textarea, input, select {
  font-family: var(--font-family);
  color: var(--text-color);
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.App {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 12px 0;
}

.d-none {
  display: none;
}

.search-input-container {
  position: relative;
  margin-top: 20px;
}

.search-input-container input {
  background-color: var(--main-bg-color);
  width: 100%;
  border-radius: var(--border-radius);
  border: none;
  padding: 15px 15px 15px 50px;
  font-size: 1rem;
  border: 1px solid transparent;
}

.search-input-container input:focus {
  outline: none;
  border: 1px solid var(--main-color);
}

.search-input-container .search-icon {
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: #4e4e4e;
  pointer-events: none;
}

.autocomplete-container {
  position: relative;
}

.autocomplete {
  margin-top: 3px;
  height: 240px;
  overflow: auto;
  position: absolute;
  width: 100%;
  border-radius: var(--border-radius);
}

.city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
  background-color: var(--main-bg-color);
  cursor: pointer;
}

.city:hover {
  background-color: var(--main-color);
  color: #000;
}

.city:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.city:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.city .left {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.city .left .location-icon {
  color: #4e4e4e;
  margin-right: 6px;
}

.city .right {
  margin: 0;
}

.current-weather,
.hourly,
.daily {
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius);
  padding: 20px 20px;
  margin-bottom: 10px;
}

.current-weather {
  margin-top: 10px;
}

.current-weather .top {
  border-bottom: 1px solid rgb(186, 186, 186);
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.current-weather .temp {
  font-size: 6rem;
  margin: 20px 0 0;
  margin-top: 0;
}

.current-weather .top .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather .top .right p {
  margin: -20px 0 0;
}

.current-weather .bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.current-weather .bottom p {
  margin-top: 0;
}

.current-weather .bottom .left p:last-child,
.current-weather .bottom .right p:last-child {
  margin-bottom: 0;
}

.hourly .hourly-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.hourly > p {
  margin-top: 0;
}

.hourly img {
  width: 50px;
}

.hourly .hour {
  margin: 0 15px;
}

.hourly .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0;
}

.hourly .date .separator {
  width: 1px;
  background-color: rgb(186, 186, 186);
  height: 120px;
}

.hourly .precipitation-prob {
  color: #47c4dd;
}

.hourly .hour > div p {
  margin: 0 0 5px;
}

.hourly .date > p {
  margin: 0 0 5px;
}

.hourly .hour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hourly .hour .temp {
  margin-top: 0;
}

footer {
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius);
  padding: 18px 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 720px) {
  .search-input-container {
    margin-top: 10px;
  }
}
